<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head.ejs')  %> 
<link rel="stylesheet" href="../../public/main.css">
</head>
<body>
    <%- include('partials/header.ejs')  %> 

    <div class="nShowCard">
        <img src="<%= nft.img %> " alt="<%= nft.name %> " width="450">
            <h2> Name: <%= nft.name %>  </h2>
            <h5> Floor Price:<%= nft.floorPrice %> ETH </h5>
            <h5> Current Price: <%= nft.currentPrice %> ETH </h5>
            <h5> Owners: <%= nft.owners %>  </h5>
    </div>
    <div>
        <!-- //(Delete) -->
        <form class="showBtn" action="<%= nft._id %>?_method=DELETE" method="POST">
            <button type="submit"><i>DEL</i></button>
        </form>
        <!-- //(Edit) -->
        <a class="showBtn" href="/nft/<%=nft._id%>/edit/"><button>Edit</button></a>
    </div>
    <%- include('partials/footer.ejs')  %> 
</body>
</html>